.cart{
    width: 40px;
    height: 40px;
    position: relative;
    .count{
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(25% ,25%);
        color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}